[submodule "pentadactyl/plugins/js/buftabs.js"]
	path = pentadactyl/plugins/js/buftabs.js
	url = https://github.com/grassofhust/buftabs.git
[submodule "pentadactyl/colors/pentadactyl-solarized"]
	path = pentadactyl/colors/pentadactyl-solarized
	url = https://github.com/claytron/pentadactyl-solarized.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
